<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.werwe.calendarlayout" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CalendarActivity"
            android:label="@string/app_name" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".KakaoLoginActivity"
            android:label="@string/title_activity_kakao_login" >

        </activity>
        <activity
            android:name=".kakao.KakaoWebLoginActivity"
            android:label="@string/title_activity_kakao_web_login"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="cbtnew.starmark.co.kr" -->
            <!-- android:scheme="http" -->
            <!-- android:path="/oauth" -->
            <!-- /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".OkHttpSampleActivity"
            android:label="@string/title_activity_ok_http_sample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
